[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/1zrj/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/1zrj/rustlings.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = git@github.com:1zrj/learning-lm-rs.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:1zrj/TinyInfiniTensor
